<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1>hi there</h1>
    <div class="register_page">
        <div class="form">
            Bedroom: <inpute type="number" name='bedrooms' paceholder="Enter the number of Bedrooms"> </br>
            Bathrooms: <inpute type="number" name='bathrooms' paceholder="Enter the number of Bathrooms"> </br>
            Living_spc: <inpute type="number" name='living' paceholder="Enter the number of Living"> </br>
            Floors: <inpute type="number" name='floors' paceholder="Enter the number of Floors"> </br>
        </form>
        <p>House Price is: {{data}}</p>

    </div>

</body>
</html>
